@keyframes scaleArm {
  0% {
    transform: rotate(0deg);
 }
  15% {
    transform: rotate(10deg);
 }
  30% {
    transform: rotate(10deg);
 }
  50% {
    transform: rotate(0deg);
 }
  65% {
    transform: rotate(-15deg);
 }
  80% {
    transform: rotate(-15deg);
 }
  100% {
    transform: rotate(0deg);
 }
}
@keyframes scaleLeft {
  0% {
    transform: translate(0, 0);
 }
  15% {
    transform: translate(4px, -15px);
 }
  30% {
    transform: translate(4px, -15px);
 }
  50% {
    transform: translate(0, 0);
 }
  65% {
    transform: translate(1px, 23px);
 }
  80% {
    transform: translate(1px, 23px);
 }
  100% {
    transform: translate(0, 0);
 }
}
@keyframes scaleRight {
  0% {
    transform: translate(0, 0);
 }
  15% {
    transform: translate(-2px, 15px);
 }
  30% {
    transform: translate(-2px, 15px);
 }
  50% {
    transform: translate(0, 0);
 }
  65% {
    transform: translate(-1px, -23px);
 }
  80% {
    transform: translate(-1px, -23px);
 }
  100% {
    transform: translate(0, 0);
 }
}
.scale svg {
  display: block;
  margin: 0 auto;
  width: 140px;
  height: 125px;
}
.scale__arm {
  animation: scaleArm 8s infinite ease;
  transform-origin: center center;
}
.scale__left {
  animation: scaleLeft 8s infinite ease;
}
.scale__right {
  animation: scaleRight 8s infinite ease;
}


.heading{
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.list{
  margin-left: 20px;
  list-style-type:square
}
.card-text{

  color: black;
  text-align: justify;
}
.head{
  width: max-content;
  text-align: center;
  margin-top: 4%;
  margin-left: 2%;
  font-size: 32px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
  ;
}

.container {
  /* background-color: mintcream; */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.card {
  max-width: 80em;
  flex-direction: row;
  background-color: #696969;
  border: 0;
  box-shadow: 0 7px 7px rgba(0, 0, 0, 0.18);
  margin: 3em auto;
  color: #fff;
}
.card.dark {
  color: #fff;
}
.card.card.bg-light-subtle .card-title {
  color: dimgrey;
}

.card img {
  max-width: 25%;
  margin: auto;
  padding: 0.5em;
  border-radius: 0.7em;
}
.card-body {
  display: flex;
  justify-content: space-between;
}
.text-section {
  max-width: 60%;
}
.cta-section {
  max-width: 40%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
}
.cta-section .btn {
  padding: 0.3em 0.5em;
  /* color: #696969; */
}
.card.bg-light-subtle .cta-section .btn {
  background-color: #898989;
  border-color: #898989;
}
@media screen and (max-width: 475px) {
  .card {
    font-size: 0.9em;
  }
}
