.slider-container {
    display: flex;
    align-items: center;
    justify-content: center;
    /* height: 100vh; */
  }
  
  .card {
    border: 1px solid #ccc;
    padding: 20px;
    width: 300px;
    text-align: center;
  }
  
  .card-title {
    margin: 0;
  }
  
  .slider-button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 0 10px;
    cursor: pointer;
  }
@media (max-width:700px ){
  .grid{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
  }
  
}
  