
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@900&family=Oswald:wght@200&family=Roboto+Condensed:wght@700&display=swap');

.bgimg{
    background-image: url("../../assests/download.jpg");
    background-size:cover;
    background-attachment: fixed;
    display:flex;
    flex-direction: row-reverse;
    height: 100vh;
    
}
#banner{
    float: right;
    margin-top: 12.5rem;
    max-width: 50%;
    display: flex;
    flex-direction: column;

    
}
.btn-c{
    /* display: flex;
    flex-direction: row;
    border: 1px solid black; */
    display: flex;
}
.h1{
    font-family: 'Merriweather', serif;
font-family: 'Oswald', sans-serif;
font-family: 'Roboto Condensed', sans-serif;
}
.buttonc{
    width: 18rem;
    height:6.25rem;
    /* margin: 1.5625rem; */
    margin: 1rem;
    background-color:rgb(226, 43, 189);
    border-radius: 1.25rem;
    border: 0.125rem solid rgb(146, 58, 228);
    font-size:x-large;
    color: white;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.buttonc:hover{
    transform: scale(1.1);
    color:rgb(226, 43, 189) ;
    background-color: beige;
}
.h1{
    margin-bottom: 2.5rem; text-align: center;
}
@media(max-width:1000px)
{
    html{
        font-size: 65%;
    }
   #c{
    width: 60%;
    margin-right: 25%;
    align-items: center;
   
   }
}
@media(max_width:768){
    html{
        font-size: 45%;

    }
    #c{
        width: 60%;
        margin-right: 25%;
        align-items: center;
    }
     
    
}
